{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    <div class="abdiv">
        <div class="abdiv1">
        <h1>ABOUT US</h1><br><h3>Get to know more about us<h3>
        </div>
        <div class="abdv2">
        <img src="{% static 'images/p1.jpg' %}" class="p1"></div>
        <div class="abdv3"><p>
            <h3>MODERN OMAN BAKERY<br></h3>
Founded in 1982, previously known by the name “Switz Modern Oman Bakery” or “Switz Bakery”, today a rebranded MOB is successfully running 17 branches all over Oman.We are a full-service bakery that specializes in baking specialty cakes, desserts, breads and many other baked goods.
        </p>
        </div>
        <div class="abdv4">
        <p>
        <h3>BECOME A FRANCHISEE <br></h3>
If you love what we do and have ideas to start your own bakery, we are happy to have you as part of our MOB family.Join the Omani bakery network and increase your ROI with tools provided by our organization and expertise in the bakery industry.
        </div>
        <div class="abdv5">
        <img src="{% static 'images/p2.jpg' %}" class="p2"> 
        </div>
        <div class="abdv7">
            <img src="{% static 'images/p3.jpg' %}" class="p3"></div>
        <div class="abdv6">
        <p>
    <h3>CONTACT US<br></h3>
Our customer service personnel is experienced and skilled in working with chefs and purchasers to select the perfect products from our deep portfolio for you.
        </p>
        </div>
        
    </div>
</body>
</html> 