{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body class="cbody">
<div class="cdivmain">
    <div class="cdiv1"><h1>contact us now</h1><br>experienced & friendly </div>
    <!-- <div class="divmain"> -->
        <div class="cdiv2">
        GET IN TOUCH<br>
Founded in 1982, previously known by the name “Switz Modern Oman Bakery” or “Switz Bakery”,<br>
today a rebranded MOB is successfully running 17 branches all over Oman.<br>
We are a full-service bakery that specializes in baking specialty cakes, desserts, breads and many other baked goods.<br>
Every baked item we sell is made fresh with passion using high-quality ingredients.<br>
Our cakes are always personalized for any occasion or celebration upon a customer’s request.

Our customer service personnel are available to answer any requests. We will respond within business hours from 8am to 6pm
        </div>
    <!-- </div> -->
        <div class="cdiv3">
     <form>
        <input type="text" placeholder="your name"><br><br>
        <input type="text" placeholder="your phone"><br><br>
        <input type="text" placeholder="your email"><br><br>
        <input type="text" placeholder="your message"><br><br>
        <input type="submit"></submit>
    </form>
        </div>
    
</div>
</body>
</html>