{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/desserts.css' %}">
</head>
<body>
    <div class="dmain">
        <div class="dbody"><h1>Deserts</h1></div>
        <div class="d1"><img src="{% static 'images/d1.png' %}"><br>
            black forest slice<br>
            ₹4000 - ₹2000</div>
        <div class="d2"><img src="{% static 'images/d2.png' %}"><br>
            Flower cup cakes<br>
            ₹3000 - ₹2000</div>
        <div class="d3"><img src="{% static 'images/d3.jpg' %}"><br>
            Chocolate muffins<br>
            ₹4000 - ₹1000</div>
        <div class="d4"><img src="{% static 'images/d4.jpg' %}"><br>
            tripple Chocolate muffins<br>
            ₹4500 - ₹2500</div>
    </div>
</body>
</html>