{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/spcl.css' %}">
</head>
<body class="home">
    <div class="hcake1">
        <p>Galaxy chocolate cake<br>
            MRP:10000/-<br>
            5kg<br>
        </p>
        <img src="{% static 'images/cake2.jpg' %}" class="im1">
        <button>order now</button>
    </div>
    <div class="hcake2">
        <p>
            Pistachio cake<br>
            MRP:7000/-<br>
            5kg<br>
        </p>
        <img src="{% static 'images/cake3.jpg' %}">
        <button>order now</button>
    </div>
    <div class="hcake3">
        <p>
            Lotus biscof Cake<br>
            MRP:6000/-<br>
            5kg<br>
        </p>
        <img src="{% static 'images/cake4.jpg' %}">
        <button>order now</button>
    </div>
    <div class="hcake4">
        <p>
            Chocolate cookies&cream <br>
            MRP:8000/-<br>
            5kg<br>
        </p>
        <img src="{% static 'images/cake5.jpg' %}">
        <button>order now</button>
    </div>
</body>
</html>