{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/baabtra.css' %}">
</head>
<body>
    <table>
        <tr ></tr>
        <td><div class="img1">
            <img src="{% static 'images/fb.png' %}" alt="fb">
            <img src="{% static 'images/insta.png' %}" alt="insta">
            <img src="{% static 'images/twit.jpg' %}" alt="twitr">
            <img src="{% static 'images/link.png' %}" alt="link">
        </div>
        </td>
        <td>
            contact no
        </td>
        </tr>
    </table>
</body>
</html>