<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // function totalsum(n1,n2){
        //     sum=n1+n2
        //     console.log(sum)
        // }
        // totalsum(4,6)
        // totalsum(6,2)

        // function oddoreven(num){
        //     if(num%2==0){
        //         console.log('even')
        //     }
        //     else{
        //         console.log('odd')
        //     }

        // }
        // oddoreven(13)
        // oddoreven(8)



        // m1=Number(prompt('enter first mark'))
        // m2=Number(prompt('enter second mark'))
        // m3=Number(prompt('enter third mark'))
        // function mark(m1,m2,m3){
        //     total=m1+m2+m3
        //     console.log(total)
        //     return total
        // }
        
        // totalmark=mark(m1,m2,m3)
        // avarage=totalmark/3
        // console.log(avarage)

        // outside = 'global'
        // var outside_var = 'also global'
        // function testscope(){
        //     inside = 'inside function but global'
        //     var inside_var = 'local'
        //     console.log(outside)
        //     console.log(outside_var) 
        //     console.log(inside)  
        //     console.log(inside_var)     
        // }
        // testscope()
        // console.log(inside_var)
        // console.log(inside)




        
        // for(i=0; i<=5; i++){
        //     for(j=0; j<=i; j++){
        //         document.write(i)
        //     }
        //     document.write('<br>')
        // }



        // function add(a,b){
        //     var num1 = a;
        //     var num2 = b;
        //     var result = a+b;
        //     // console.log(result)
        //     return result
        // }
        // var a=add(20,40)
        // console.log(a)



        var mark=[10,20,30,'hi']
        var mark2=[15,25,35,45]
        var nwarray=mark.concat(mark2)
        console.log(nwarray)
        var slice_array=mark.slice(1)
        console.log (slice_array)
        console.log(mark)
        // mark.splice(0,1,'hii','splic')
        // console.log(mark)
        // console.log(mark[0])
        // console.log(mark.length)
        // mark.pop()
        // mark.push('helo')
        // mark.shift()
        // mark.shift()
        // mark.unshift('10')
        // mark.unshift('hehe')
        // console.log(mark)


        </script>
</body>
</html>