<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <button onclick="alert('submited')">signup</button> -->
    <script>
        // alert('success')
        // var a
        // console.log("submit")
        // console.log(typeof(a))
        // var age=17
        // if(age>=18){
        //     console.log('you are eligible to vote')
        // }
        // else{
        //     console.log('you are not eligible to vote')
        // }

        // var a=10
        // var b=2
        // var result=a**b
        // console.log('result is' ,result)
        // document.write('result is', '<b>',result,'</b>')

        // var a=10
        // a+=10
        // console.log(a)
        // document.write(a)

        // var a=prompt('enter a number')
        // console.log(a)
        // if(a%2==0){
        //     document.write(a , 'is even')
        // }
        // else{
        //     document.write(a , 'is odd')
        // }


        var a=Number(prompt('enter first number'))
        console.log(a)
        var b=Number(prompt('enter second number'))
        console.log(b)
        var result=a+b
        alert(result)
        console.log(typeof(a))
        console.log('result is' ,result)

    </script>
</body>
</html>