<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var mark=[1,4,7,'hello']
        var mark2=[4,6,2,77]
        var newarr=mark.concat(mark2)
        console.log(newarr)
        // for(var i=0; i<mark.length; i++){
        //     console.log(mark[i])
        // }

        // for(var item of mark){
        //     console.log(item)
        // }
        mark.push(56,45,78,'hii')
        // mark.pop()
        // mark.pop()
        // mark.shift()
        // mark.unshift('unshifted')
        mark[1]='70'

        // console.log(mark)
    </script>
</body>
</html>