<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <a href="{% url 'home' %}">home</a>  <a href="{% url 'about' %}">about</a>  <a href="{% url 'contact' %}">contact</a><br><br>
    
    {% block content %}
    {% endblock %}

    <h1 style="red">footer</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dicta assumenda reiciendis. Laborum, sunt possimus. Odio, maxime incidunt eum molestias mollitia tempore porro pariatur a hic temporibus perspiciatis natus! Officiis aperiam fugiat obcaecati quidem tenetur omnis perferendis recusandae sapiente doloremque dolor quos esse, nisi suscipit? Assumenda vero ex molestias, consectetur consequuntur rerum sapiente necessitatibus porro id mollitia eos enim dicta omnis fugiat numquam incidunt iste sit. Praesentium aut, molestiae quasi laboriosam adipisci nulla natus! Possimus consequuntur repellendus labore, porro eos non excepturi, consectetur sapiente aspernatur modi, quibusdam dicta dolores? Quaerat, dolorum! Aliquid, animi molestiae voluptatibus sint tempore voluptates alias accusamus?

</body>
</html>