{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/newpage.css' %}">
</head>
<body>
    <p>Lorem ipsum dolor sit amet.</p>
    <div> div contentLorem ipsum dolor sit amet consectetur.</div>
    <span>sapn contentLorem ipsum dolor, sit amet consectetur adipisicing.</span>
    <div style="color: green;">Lorem ipsum dolor<span>sit amet consectetur.</span>child content </div>
</body>
</html>