<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>

        // var a=Number (prompt('enter number'))
        // var found=false
        // var num=[10,20,30,40,50,10,10]
        // for(var i=0; i<num.length; i++){
            
        // if(a==num[i]){
        //     found=true;
        // break;
        // }

        // }
        // if(found==true){
        //     console.log('found')
        // }
        // else{
        //     console.log('not found')
        // }

      
      var num=[10,20,30,80,40,70,90]
      largest=0
      slarg=0
      for(var i=0; i<num.length; i++){
        if(num[i]>largest){
            largest=num[i]
        
        }
        
        elsif{
            largest!=slarg
            slarg=num[i]
        }

    }
      console.log('largest number is', largest)
      console.log('second largest number is',slarg)
    </script>
</body>
</html>