.cdivmain{
    display: grid;
    grid-template-columns: repeat(2,4fr);
    grid-template-rows: repeat(2,2fr);
    background-color: rgb(185, 230, 248);
    width: 100%;
    height:max-content;
    border: 3px outset;
}
.cdiv1{
    grid-column: span 2;
    text-align: left;
    background-image: url('../images/contactbg.jpg');
    background-size: cover;
    height: 200px;
    border: 5px outset;
}

.cdiv3{
    text-align: right;
}

