<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div>
        <span id="head">ToDo App</span><br>
        <span id="head1">Welcome anonymous user</span>
        <div>
            <div class="mb-3">
                <label for="" class="form-label"></label>
                <input type="text" class="form-control w-50" id="task" placeholder="Title">
            </div>
            <div class="mb-3">
                <label for="" class="form-label"></label>
                <textarea class="form-control w-50" id="discription" rows="3" placeholder="Description"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" onclick="" id="buttn">Save</button><br><br>

    <table id="todo_tb" class="table table-striped w-50">
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </div>
</body>
</html>